{% extends 'base.html' %}
{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/worker_details.css' %}">
{% endblock css_links %}

{% block top %}
<div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
    <div>
        <h4>Disable {{object.get_full_name|title}}</h4>
    </div>
</div>
{% endblock top %}

{% block content %}


<div class="d-flex">
    <div class="detail-area">
        <form action="." method="post">
            {% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'account:user_detail' object.id %}" class="btn btn-outline-primary">Cancel</a>
            <input class="btn btn-outline-danger" type='submit' name='submit' value='Submit'>
        </form>
    </div>


</div>


{% endblock content %}