{% extends 'base.html' %}
{% load static %}

{% block css_links %}
{% endblock css_links %}

{% block top %}
<div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
    <div>
        <h4> User List </h4>
    </div>
    <div class="">
        <a href="{% url 'account:create_user' %}" class="btn btn-primary ml-3">Create User</a>
    </div>

</div>
{% endblock top %}
{% block content %}

<div class="search-results-wrapper mt-3">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Fullname</th>
                <th scope="col">Active</th>
                <th scope="col">Manager</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="search-results">
            {% for item in object_list %}
            <tr >
                <th>
                    # {{ item.id }}
                </th>
                <td>
                    {{ item.username }}
                </td>
                <td>
                    {{ item.get_full_name }}
                </td>
                <td>
                    {{ item.is_active|yesno:"Yes,No" }}
                </td>
                <td>
                    {{ item.is_manager|yesno:"Yes,No" }}
                </td>
                <td>
                    <a href="{% url 'account:user_detail' item.id %}" class="btn btn-outline-primary btn-sm"> View </a>
                    <a href="{% url 'account:disable_user' item.id %}" class="btn btn-outline-danger btn-sm"> Disable </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block js_links %}
{% endblock js_links %}