{% extends 'base.html' %}
{% load static %}

{% block top %}
<div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
    <div>
        <h4> {{object.name}} - Close Event </h4>
    </div>
</div>
{% endblock top %}
{% block content %}
<form action='.' method='post'>
    {% csrf_token %}
    <p>Are you sure you would like to close this event?*</p>
    <a href='{% url "event:dashboard" slug=object.slug %}' class='btn btn-outline-primary' id='cancel'>Cancel</a>
    <input class='btn btn-danger' type='submit' name='accept' value='Accept'>
    <p class='small text-muted'>*You will no longer be able to accredit staff.</p>
</form>
{% endblock content %}